In [1]:
import yfinance as yf

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
tickers = ["AMZN"]

In [4]:
data = yf.download(tickers,start = "2015-01-01")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,15.629000,15.737500,15.348000,15.426000,15.426000,55664000
2015-01-05,15.350500,15.419000,15.042500,15.109500,15.109500,55484000
2015-01-06,15.112000,15.150000,14.619000,14.764500,14.764500,70380000
2015-01-07,14.875000,15.064000,14.766500,14.921000,14.921000,52806000
2015-01-08,15.016000,15.157000,14.805500,15.023000,15.023000,61768000
...,...,...,...,...,...,...
2023-04-17,103.160004,103.730003,101.589996,102.739998,102.739998,39919500
2023-04-18,103.949997,104.199997,101.519997,102.300003,102.300003,39790500
2023-04-19,101.580002,105.120003,101.389999,104.300003,104.300003,58398900
2023-04-20,103.529999,105.250000,103.209999,103.809998,103.809998,57696900
2023-04-21,106.099998,108.150002,105.080002,106.959999,106.959999,86689700

# To calculate the total risk of amazon stock we can use standard deviation

In [5]:
start_date = '2015-01-01'
end_date  = pd.Timestamp.today().strftime('%Y-%M-%d')

In [6]:
daily_returns = data['Adj Close'].pct_change()

In [7]:
# Calculate the risk (standard deviation of returns)
risk = daily_returns.std()

In [9]:
# Print the risk
print(f'Risk of Amazon: {risk:.2f}')

Risk of Amazon: 0.02

* Value of 0.02 indicates that the stock or portfolio has a low level of risk, as it means that the daily returns are relatively stable and consistent.